name: Test CI avec secret

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      API_KEY: ${{ secrets.API_KEY }}

    steps:
      - uses: actions/checkout@v3
      - name: Afficher la clé
        run: echo "La clé est $API_KEY"
